.image {
    background-image: url("./simplphoto.png");
    width:100vw;
    height:50vw;   
    background-repeat: no-repeat;
    background-size: cover;
}
h2{
    text-align: center;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 27px;
letter-spacing: 3.3px;
text-transform: uppercase;
margin: 30px 0;

color: #373737;


}
p{
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
text-align: center;
letter-spacing: 2.4px;
margin: 30px 0;
color: #373737;



}
li.menu-item{
display: inline;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 18px;
letter-spacing: 2.7px;
text-transform: uppercase;
text-align: center;
margin-right: 30px;
color: #FF0000;




}
ul.hr {
    text-align: center;
    color:#FF0000;
    margin: 30px 0;


}
button{
    border: none;
    color: white;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    background-color: rgb(245, 7, 7);  
    border-radius:4px;
    margin:100px auto ;
    text-transform: uppercase;
}
a{
    text-decoration: none;
color: #FF0000;
}
.copywrite{

    text-align: right;
    margin-top: 200 px;
    font-weight:bold;
}
